language: node_js
node_js:
  - '0.10'
  - '0.12'
  - 'iojs'
before_install:
  - "mkdir -p ~/.npm"
install:
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g jshint istanbul codeclimate-test-reporter
script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=a6cc876411a6a5a82cdae21d58884b783bb960eba04b6ba9649a57b6565403a9 codeclimate-test-reporter < coverage/lcov.info
